*   {   
    font-family: 'Roboto', sans-serif;
 
}


body{
    padding: 0px;
    margin: 0px;
    background-image: url(assets/walle.jpg);
    background-repeat:no-repeat;
    background-size: cover;
}

.icon-buscador{
    /*
    usamos display inline block porque queremos que estén pegaditos la parte de inline y block para que las propiedades de width y heigth sigan haciend efecto y hagn mi icono pequeño
    */
    display: inline-block;
    width: 24px;
    height: 24px;
    /* padding: .5lh ; */
     padding: 8px 8px 6px 14px; 
    
}

ul {
   list-style-type: none; 
}

header ul li {
    display: inline;
    padding: 4px;
    color:white;
   
}

footer ul{
    display: inline-block;
    margin: 15px 12px;
    color: #70757a;
}

footer ul li
{
    display:inline;
    padding: 15px;
}


button
{
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}
header
{
    height: 6vh;
    text-align: right; 

}

main
{
    height: 78vh;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
ul img
{
    width: 25px;
    height: 25px;
    border-radius: 100%;
    
    
}


footer
{
    background-color: #f8f9fa;
    height: auto;
    
}
.busca{
    
    display: flex;
    z-index: 3;
    min-height: 44px;
    background: #fff;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    margin: 0 auto;
    width: 638px;
    width: auto;
    max-width: 584px;
    
    
}
#input-buscador {
    outline: none;
    border: none;
    width: 20lh; 
}
.aqui{
    border-bottom: 1px solid #dadce0;
}

.ali{
    display: flex;
    justify-content: center;
}
